<div class="container">
  <div class="teams-show__team-name-section">
    <h1 class="teams-show__team-logo-with-name"> <%= image_tag "team_logo/#{@team['slug']}", size: "100" %> <%= @team['name'] %> </h1>
  </div>

  <div class="row">
    <div class="col-md-6 teams-show__players-section">
      <h2> Players </h2>
      <% @team["players"].each do |player| %>
        <div class="row team-show__player-details">
          <div class="col-md-3">
            <%= image_tag "#{player['image_url']}", class: "teams-show__team-player-image" %>
          </div>
          <div class="col-md-9">
            <p class="teams-show__player-info"> Name: <%= player["first_name"] %> <%= player["last_name"] %> </p>
            <p class="teams-show__player-info"> In Game Name: <%= player["name"] %> </p>
            <p class="teams-show__player-info"> Role: <%= player_role(player["role"]) %> </p>
            <p class="teams-show__player-info"> Home: <%= player["hometown"] %> </p>
          </div>

        </div>

      <% end %>
    </div>
    <div class="col-md-6 teams-show__past-matches">
      Match History:
      <% if @filtered_past_matches.flatten.count == 0 %>
        <p>None to display...</p>
      <% else %>
        <% @filtered_past_matches.flatten.each do |match| %>
          <%= link_to home_show_path(match['id']), class: "home__match_show_link" do %>
            <%= render 'shared/match_cards', match: match, location: 'team' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>