<div class="card match-card">
  <div class="card-body home__match_show_link">
    <small class='number_of_games'>Best of <%=match['number_of_games']%></small>
    <span>
      <h5 class="card-title">
        <% if location != "team" && File.file?("#{Rails.root}/app/assets/images/team_logo/#{find_team_logo(match['opponents'].first)}.png") %>
          <%= image_tag "team_logo/#{find_team_logo(match['opponents'].first)}.png", size: "40"%>
        <% end %>
        <%= match['opponents'].first['opponent']['name'] %>
        <% if location == "upcoming" %>
          vs.
        <% else %>
          <span class="home__match-score-style">
            <%= find_team_score(match['results'], match['opponents'].first) %>
            -
            <%= find_team_score(match['results'], match['opponents'].second) %>
          </span>
        <% end %>
        <%= match['opponents'].second['opponent']['name'] %>
        <% if location != "team" && File.file?("#{Rails.root}/app/assets/images/team_logo/#{find_team_logo(match['opponents'].second)}.png")%>
          <%= image_tag "team_logo/#{find_team_logo(match['opponents'].second)}.png", size: "40"%>
        <% end %>
      </h5>
      <p class="match-date"><%= find_match_date(match) %></p>
    </span>
    <% if location != "upcoming" %>
      <p class="card-text">Winner: <span class="home__match-score-style"><%= match['winner']['name'] %></span></p>
    <% end %>
  </div>
</div>