<div class="container home__matches-accordion-section">
  <div id="upcoming-accordion">
    <div class="card">
      <div class="card-header" id="allUpcomingMatchesHeader">
        <h5 class="mb-0">
          <button class="btn home__matches-collapse-button" data-toggle="collapse" data-target="#allUpcomingMatches" aria-expanded="true" aria-controls="allUpcomingMatches">
            All Upcoming Matches
          </button>
        </h5>
      </div>

      <div id="allUpcomingMatches" class="collapse show" aria-labelledby="allUpcomingMatchesHeader" data-parent="#upcoming-accordion">
        <div class="card-body">
          <% if all_matches.count == 0 %>
            <p class="home__none-to-display-text">None to display...</p>
          <% else %>
            <% all_matches.each do |match| %>
            <%= link_to home_show_path(match['id']), class: "home__match_show_link" do %>
              <%= render 'shared/match_cards', match: match, location: 'upcoming' %>
            <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% team_matches.each_with_index do |matches, index| %>
      <div class="card">
        <div class="card-header" id="heading-upcoming-<%=index%>">
          <h5 class="mb-0">
            <%= button_tag "Upcoming Matches for #{current_user.team_followings[index].team['name']}", class: "btn collapsed home__matches-collapse-button", data: { toggle: "collapse", target: "#collapse-upcoming-#{index}"}, aria: {expanded: false, controls: "collapse-upcoming-#{index}"} %>
          </h5>
        </div>
        <div id="collapse-upcoming-<%=index%>" class="collapse" aria-labelledby="heading-upcoming-<%=index%>" data-parent="#upcoming-accordion">
          <div class="card-body">
            <% if matches.empty? %>
              <p class="home__none-to-display-text">None to display...</p>
            <% else %>
              <% matches.each do |match| %>
              <%= link_to home_show_path(match['id']), class: "home__match_show_link" do %>
                <div class="card" style="width: 30rem;">
                  <div class="card-body">
                    <small class='number_of_games'>Best of <%=match['number_of_games']%></small>
                    <span>
                      <h5 class="card-title">
                        <% if File.file?("#{Rails.root}/app/assets/images/team_logo/#{find_team_logo(match['opponents'].first)}.png") %>
                        <%= image_tag "team_logo/#{find_team_logo(match['opponents'].first)}.png", size: "40"%>
                        <% end %>
                        <%= match['opponents'].first['opponent']['name'] %>
                        vs.
                        <%= match['opponents'].second['opponent']['name'] %>
                        <% if File.file?("#{Rails.root}/app/assets/images/team_logo/#{find_team_logo(match['opponents'].second)}.png") %>
                        <%= image_tag "team_logo/#{find_team_logo(match['opponents'].second)}.png", size: "40"%>
                        <% end %>
                      </h5>
                      <p class="match-date"><%= find_match_date(match) %></p>
                    </span>
                  </div>
                </div>
              <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>