<div class="container-fluid">
  <h4 class="home-show__match-history-title"> Match Details</h4>
  <div class="row home-show__match-history-league-and-logo">
    <div class="col-md-6">
      <%= image_tag "#{@match['league']['image_url']}", size: "120" %>
      <span class="home-show__match-history-league-info">
        <%= @match['league']['name'] %>
        <%= @match['serie']['year'] %>
        <%= @match['serie']['season'] %>
        -
        <%= @match['tournament']['name'] %>
      </span>
    </div>
    <div class="col-md-6" style="margin-top: 0.5rem">
      <p class='home-show__match_date'>
        Match
        <% if @match['status'] == 'finished' %>
          Completed
        <% else %>
          Scheduled
        <% end %>
        On:
      </p>
      <h4 class="home-show__match-scheduled-on-date"> <%= find_match_date(@match) %> </h4>
    </div>
  </div>

  <h4 class="home-show__best-of-games-text"> Best of <%= @match['number_of_games']%> </h4>
    <div class="home-show__match-team-one text-center">
      <div class="row home-show__match-history-score">
        <%= link_to team_path(@team1.id), class: "row teams__team-details-link" do %>
          <%= image_tag("team_logo/#{find_team_logo(@match['opponents'].first)}", size: "100") %>
          <div class="team home-show__team-name-and-score">
            <div class="col-md">
              <h3 class="team_name"><%=@match['opponents'].first['opponent']['name']%></h3>
              <p>
                <% if @match['winner']['name'] == @match['opponents'].first['opponent']['name'] %>
                  VICTORY
                <%else%>
                  DEFEAT
                <%end%>
              </p>
            </div>
          </div>
        <% end %>

        <h5 class="home-show__match-score-result">
          <% if @match['status'] == 'finished'%>
            <%= find_team_score(@match['results'], @match['opponents'].first) %>
            -
            <%= find_team_score(@match['results'], @match['opponents'].second) %>
          <% else %>
            VS
          <% end %>
        </h5>

        <%= link_to team_path(@team2.id), class: "row teams__team-details-link" do %>
          <div class="team home-show__team-name-and-score">
            <div class="col-md">
              <h3 class="team_name"><%=@match['opponents'].last['opponent']['name']%></h3>
              <p>
                <% if @match['winner']['name'] == @match['opponents'].last['opponent']['name']%>
                  VICTORY
                <%else%>
                  DEFEAT
                <%end%>
              </p>
            </div>
          </div>
          <%= image_tag("team_logo/#{find_team_logo(@match['opponents'].last)}", size: "100") %>
        <% end %>

      </div>
      <span>
    </div>
  
</div>

<div class="home-show__match-time-completed">
  <% if @games.count > 1 %>
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-sm">
       <h3>Game <%= game['position'] %></h3>
       <h4><%= get_game_winner(game['winner']['id'])['acronym'] %> Win</h4>
       <h5>Duration: <%= game['length'] / 60  %> minutes</h5>
      </div>
    <% end %>
  </div>
  <% elsif @games.count > 0 %>
    <h5>Duration: <%= @games.first['length'] / 60  %> minutes</h5>
  <% end %>
</div>
