<div class="container-fluid">
  <div class="row">
    <div class="match-context">
      <p>
        <%= @match['league']['name'] %>
        <%= @match['serie']['year'] %>
        <%= @match['serie']['season'] %>
        -
        <%= @match['tournament']['name'] %>
      </p>
    </div>
    <div class="match-date">
      <p>
        Match
        <% if @match['status'] == 'finished' %>
          Completed 
        <% else %>
          Scheduled
        <% end %>
        On
        <%= find_match_date(@match) %>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h4 class="match-typ">
    Best of <%= @match['number_of_games']%>
  </h4>

  <div class="row">
    <div class="team">
      <div class="col-md">
        <h1 class="team_name"><%=@match['opponents'].first['opponent']['name']%></h1>
        <p>
          <% if @match['winner']['name'] == @match['opponents'].first['opponent']['name'] %>
            VICTORY
          <%else%>
            DEFEAT
          <%end%>
        </p>
      </div>
    </div>
    <%= image_tag("team_logo/#{find_team_logo(@match['opponents'].first)}", size: "70") %>

    <h5 class="score">
      <% if @match['status'] == 'finished'%>
        <%= find_team_score(@match['results'], @match['opponents'].first) %>
        -
        <%= find_team_score(@match['results'], @match['opponents'].second) %>
      <% else %>
        VS
      <% end %>
    </h5>
    
    <div class="team">
      <div class="col-md">
        <h1 class="team_name"><%=@match['opponents'].last['opponent']['name']%></h1>
        <p>
          <% if @match['winner']['name'] == @match['opponents'].last['opponent']['name']%>
            VICTORY
          <%else%>
            DEFEAT
          <%end%>
        </p>
      </div>
    </div>
    <%= image_tag("team_logo/#{find_team_logo(@match['opponents'].last)}", size: "70") %>
  </div>
</div>

<div class="container-fluid">
  <% if @games.count > 1 %>
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-sm">
        
      </div>
    <% end %>
  </div>
  <% else %>
    <h5>Duration: <%= @games.first['length'] / 60  %> minutes</h5>
  <% end %>
</div>